
LOGIN=yourlogin
DOMAIN_NAME=yourlogin.42.fr
SITE_TITLE=Inception

# WordPress adm
ADMIN_USER=boss
ADMIN_PASSWORD=
ADMIN_EMAIL=you@example.com

# WordPress usr
USER_LOGIN=user
USER_EMAIL=you@student.42.fr
USER_PASS=

# MariaDB / WordPress database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=wordpress
MYSQL_USER=db_user
MYSQL_PASSWORD=

# FTP bonus account.
FTP_USER=ftp_user
FTP_PASS=

# Service ports
NGINX_PORT=443
ADMINER_PORT=8080
STATIC_WS_PORT=8081
PORTAINER_PORT=9000
FTP_PORT=21
FTP_PASV_MIN=21100
FTP_PASV_MAX=21110
