LOGIN=erpascua
DOMAIN_NAME=erpascua.42.fr
SITE_TITLE=Inception

ADMIN_USER=boss
ADMIN_PASSWORD=
ADMIN_EMAIL=erpascua@student.42.fr
USER_LOGIN=you
USER_EMAIL=you@student.42.fr
USER_PASS=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=wordpress
MYSQL_USER=sql_user
MYSQL_PASSWORD=

FTP_USER=ftp_user
FTP_PASS=

PORTRAINER_USER=portn_user
PORTRAINER_PASS=

# Service ports
NGINX_PORT=443
ADMINER_PORT=8080
STATIC_WS_PORT=8081
PORTAINER_PORT=9000
FTP_PORT=21
FTP_PASV_MIN=21100
FTP_PASV_MAX=21110