LOGIN=yourlogin
DOMAIN_NAME=yourlogin.42.fr
SITE_TITLE=Inception

ADMIN_USER=your_admin
ADMIN_PASSWORD=
ADMIN_EMAIL=you@example.com
USER_LOGIN=your_user
USER_EMAIL=you@student.42.fr
USER_PASS=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=wordpress
MYSQL_USER=your_db_user
MYSQL_PASSWORD=

FTP_USER=your_ftp_user
FTP_PASS=
